@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}


@layer base {
  .newscard-title{
    word-wrap: break-word;
  }
  input:focus{
    outline: none;
  }
  .placeholder-black{
    color: #000;
  }

  .placeholder-black::placeholder {
      color: #000;
      opacity: 1; 
  }
    
  .placeholder-black::-ms-input-placeholder { 
      color: #000;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
